<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title || 'idwtbha'%></title>
    <% if (htmlWebpackPlugin.files.favicon) { %>
        <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
    <% } %>
</head>
<body>
    <% if (htmlWebpackPlugin.options.unsupportedBrowser) { %>
    <style>.unsupported-browser { display: none; }</style>
    <div class="unsupported-browser">
        Sorry, your browser is not supported.  Please upgrade to
        the latest version or switch your browser to use this site.
        See <a href="http://outdatedbrowser.com/">outdatedbrowser.com</a>
        for options.
    </div>
    <% } %>

    <% if (htmlWebpackPlugin.options.appMountId) { %>
        <div id="<%= htmlWebpackPlugin.options.appMountId%>"></div>
    <% } %>

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
    
    <% if (htmlWebpackPlugin.options.devServer) { %>
        <script src="<%= htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js"></script>
    <% } %>
</body>
</html>